body{
    height: 100vh;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}


.calculator{
    padding: 10px;
    border-radius: 30px;
    width: 400px;
    height: 820px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.output{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    padding: 15px 10px;
    border-radius: 30px;
    width: 360px;
    height: 350px;
    background: grey;
}

.buttons{
    margin-top: 15px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttons button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 3px;
}

.lastButtons{
    display: flex;
}

.current{
    font-size: 50px;
    color: ghostwhite;
    font-weight: bold;
    margin-top: 20px;
}

.prev{
    opacity: 0.7;
    font-size: 20px;
    color: ghostwhite;
    font-weight: bold;
}